name: Run open Portal Analytics tracked by Adobe Analytics

on:
  schedule:
    - cron: '0 7 * * *'  # everyday
  workflow_dispatch:
env:
  org_id: ${{secrets.ORG_ID}}
  client_id: ${{secrets.CLIENT_ID}}
  secret: ${{secrets.SECRET}}
  scopes: ${{secrets.SCOPES}}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v3 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x' # install the python version needed
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirement.txt
          
      - name: execute py script # run Visits_downloads_tracking.py
        
        run:  python Open_Portal_Analytics/Visits_downloads_tracking.py
          
          
      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -a -m "updates" --allow-empty
          git push -f
       
